.coinDetailContainer {
  width: 75vw;
  max-width: 800px;
  margin: auto;
}

.coinHeadingContainer {
  margin: 1rem;
  text-align: center;
}

.coinHeadingContainer p {
  font-size: 1.8rem;
}

.selectTimePeriod {
  width: 80px;
  margin: 0;
  margin-bottom: 4rem;
}

.coinName {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.coinName img {
  margin: 1rem;
}

.statsContainer {
  margin-top: 1.4rem;
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
.coinValueStaticticsHeading p {
  font-size: 1.5rem;
}

/* .coinValueStatictics,
.otherStatsInfo {
  margin: 1rem 2rem;
  width: 45%;
} */

.statsDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.coinStatsName .ant-typography {
  color: white !important;
}

.coinStats {
  margin: 0.5rem;
  background-color: #0d4585;
  width: 45%;
}

.coinStatsValue {
  font-size: 0.8rem !important;
}

.coinDetailsHeading {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.coinLink {
  text-align: center;
}

.linkType {
  text-transform: capitalize;
}

@media screen and (max-width: 800px) {
  .coinName {
    font-size: 1.5rem !important;
    text-decoration: none;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .coinHeadingContainer p {
    font-size: 1.2rem !important;
    margin: 0.5rem 0 !important;
  }
  .coinDetailsHeading {
    font-size: 1.5rem !important;
  }
  .coinValueStatictics,
  .otherStatsInfo {
    /* margin: 1rem 2rem; */
    width: 80%;
  }

  .coinValueStaticticsHeading p {
    font-size: 1rem !important;
  }
  .coinStats {
    width: 90%;
  }
  .coinStatsValue {
    font-size: 0.6rem !important;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}
