.news {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto !important;
  /* background-color: rgba(0, 0, 0, 0.836); */
}

.mainContainer {
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  padding: 0;
  width: 95vw !important;
  max-width: 1200px;
  overflow-x: hidden;
}

.newsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_Desc {
  width: 80%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.providerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .newsContainer img {
    display: none;
  }

  .title_Desc {
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0 5px;
    text-align: center;
  }

  .newsTitle {
    font-size: 1rem !important;
  }

  .title_Desc p {
    font-size: 0.8rem;
  }

  .homeHeadingContainer {
    padding: 5px;
  }

  .ant-card-body {
    padding: 15px 5px;
  }
}
