.globalStats {
  text-align: center;
  padding: 1rem 0;
  max-width: 1200px;
  margin: auto;
}

.homeHeadingContainer {
  padding: 2rem;
}

.home-title {
  text-align: center;
  margin: 3rem auto !important;
  width: 80vw;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.showMore {
  float: right;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (max-width: 800px) {
  .home-title {
    font-size: 1.5rem !important;
    text-decoration: none;
  }
}
